/* COLOR PALLETTE
#2e0e02 Zinnwaldite Brown
#f0f0c9 Eggshell
#ff5714 Orioles Orange
#683257 Halayà Úbe
#581908 French Puce */


/* Global styles
-------------------------*/
body {
  color: #343434;
}

img {
  width: 300px;
}

/* Profile
-------------------------*/
header {
  color: #f0f0c9;
  background: #581908;
}

/* Projects
-------------------------*/
.projects {
  background: #f0f0c9;
}

/* Work Experience
-------------------------*/
.work {
  background: #ff5714;
}

/* Education
-------------------------*/

/* Contact Info
-------------------------*/
footer {
  color: #f0f0c9;
  background: #2e0e02;
}
